// Точки медиа запросов
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Цвета
$black: #000;
$white: #fff;
$milk: #fafafa;
$grey: #c0c0c0;
$dark-grey: #3d3d3d;
$melon: #4EA32E;
$black-05: transparentize($black, .5);

// Пути
$font-path: '/fonts/';
