{% extends './_layout.njk' %}

{% block content %}
         <div class="main-contain">
        <header class="header">
            <div class="header-content">
                <img class="header-logo-img" src="/images/SV-img.svg" alt="SV logo">
                <h2 class="header-text">Brands</h2>
            </div>
            <img class="header-img-company" src="/images/Abbott-logo.svg" alt="Abbott logo">  
        </header>
        <main class="contents-brands">
            <div class="brands-item brands-item__name--1">
                <div class="brands-item__name">
                    <div class="name-logo name-logo--1"></div>
                    <div class="name-text"><a target="_blank" href="info.html">HEPTRAL</a></div>
                </div>
                <div class="brands-item__service brands-item__service-1">
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-business.svg" alt="Business">
                        <a class="service-img" target="_blank" href="info.html">Business</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-sence.svg" alt="BrandSense">
                        <a class="service-img" target="_blank" href="info.html">BrandSense</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-tv.svg" alt="TV">
                        <a class="service-img" target="_blank" href="info.html">TV</a>
                    </div>  
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-tv.svg" alt="TV">
                        <a class="service-img" target="_blank" href="info.html">TV</a>
                    </div>  
                </div>
            </div>
            <div class="brands-item brands-item__name--2">
                <div class="brands-item__name">
                    <div class="name-logo name-logo--2"></div>
                    <div class="name-text"><a target="_blank" href="info.html">IMUDON</a></div>
                </div>
                <div class="brands-item__service brands-item__service-2">
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-business.svg" alt="Business">
                        <a class="service-img" target="_blank" href="info.html">Business</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-sence.svg" alt="BrandSense">
                        <a class="service-img" target="_blank" href="info.html">BrandSense</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-tv.svg" alt="TV">
                        <a class="service-img" target="_blank" href="info.html">TV</a>
                    </div>  
                </div>
            </div>
            <div class="brands-item brands-item__name--3">
                <div class="brands-item__name">
                    <div class="name-logo name-logo--3"></div>
                    <div class="name-text"><a target="_blank" href="info.html">KREON</a></div>
                </div>
                <div class="brands-item__service">
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-business.svg" alt="Business">
                        <a class="service-img" target="_blank" href="info.html">Business</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-sence.svg" alt="BrandSense">
                        <a class="service-img" target="_blank" href="info.html">BrandSense</a>
                    </div>   
                </div>
            </div>
            <div class="brands-item brands-item__name--2 brands-item__name--2--modify">
                <div class="brands-item__name ">
                    <div class="name-logo name-logo--4"></div>
                    <div class="name-text"><a target="_blank" href="info.html">SIMILAC</a></div>
                </div>
                <div class="brands-item__service brands-item__service-">
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-business.svg" alt="Business">
                        <a class="service-img" target="_blank" href="info.html">Business</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-sence.svg" alt="BrandSense">
                        <a class="service-img" target="_blank" href="info.html">BrandSense</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-tv.svg" alt="TV">
                        <a class="service-img" target="_blank" href="info.html">TV</a>
                    </div>  
                </div>
            </div>
            <div class="brands-item">
                <div class="brands-item__name brands-item__name--1">
                    <div class="name-logo name-logo--5"></div>
                    <div class="name-text"><a target="_blank" href="info.html">HEPTRAL</a></div>
                </div>
                <div class="brands-item__service brands-item__service-1">
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-business.svg" alt="Business">
                        <a class="service-img" target="_blank" href="info.html">Business</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-sence.svg" alt="BrandSense">
                        <a class="service-img" target="_blank" href="info.html">BrandSense</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-tv.svg" alt="TV">
                        <a class="service-img" target="_blank" href="info.html">TV</a>
                    </div>  
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-tv.svg" alt="TV">
                        <a class="service-img" target="_blank" href="info.html">TV</a>
                    </div>  
                </div>
            </div>
            <div class="brands-item brands-item__name--3 brands-item__name--3--modify">
                <div class="brands-item__name">
                    <div class="name-logo name-logo--6"></div>
                    <div class="name-text"><a target="_blank" href="info.html">IMUDON</a></div>
                </div>
                <div class="brands-item__service">
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-business.svg" alt="Business">
                        <a class="service-img" target="_blank" href="info.html">Business</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-sence.svg" alt="BrandSense">
                        <a class="service-img" target="_blank" href="info.html">BrandSense</a>
                    </div>
                    <div class="service-content">
                        <img src="/images/brands/brands-item/brands-digital.svg" alt="Digital">
                        <a class="service-img" target="_blank" href="info.html">Digital</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
