{% extends './_layout.njk' %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-container">
            <img class="login-logo" src="/images/login.svg"></img>
            <form action="" class="login">
                <input class="input-login" type="text" name="login" id="login" placeholder="Login">
                <input class="input-login" type="password" name="password" id="password" placeholder="Password">
                <button type="submit" id="login-btn">Log in</button>
            </form>
        </div>
       
    </div>
    
    <p class="paragraph-login">Powered by Starlink</p>
{% endblock %}
