//Brands page

:root {
    --grid-gap:40px;
  }
  
.main-contain {
    padding: 0 205px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-img {
    margin-left: 0px;
    display: block;
}
.header-img-company {
  margin-right: -50px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-weight: 800;
    font-size: 32px;
}

.contents-brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    gap: 15px;
    margin-top: 30px;
}
  
.brands-item {
    height: 392px;
    background-color: $white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.brands-item__name {
    padding: 0 35px;
    border-right: 1px solid $grey;
    height: 80%;
}
.brands-item__name--2 {
  height: 280px;
}
.brands-item__name--2--modify {
  margin-top: -110px;
}
.brands-item__name--3 {
  height: 235px;
}
.brands-item__name--3--modify {
  margin-top: -65px;
}
  
.name-logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
}
.name-logo--1 {
  background-image: url(/images/brands/brands-logo/HP-logo1.png);
}
.name-logo--2 {
  background-image: url(/images/brands/brands-logo/IM-logo1.png);
}
.name-logo--3 {
  background-image: url(/images/brands/brands-logo/KR-logo.png);
}
.name-logo--4 {
  background-image: url(/images/brands/brands-logo/SM-logo.png);
} 
.name-logo--5 {
  background-image: url(/images/brands/brands-logo/HP-logo2.png);
}
.name-logo--6 {
  background-image: url(/images/brands/brands-logo/IM-logo2.png);
}
  
.name-text {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 15px;
}
  
.brands-item__service {
    margin-right: 25%;
}
  
.service-img {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    width: 32px;
}
  
.service-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    img {
      margin-right: 15px;
    }
}
  
.service-img:hover {
    transition: 0.3s ease all;
    color: $dark-grey;
}
