//Info page

.header-container {
    position: fixed;
    background-color: $milk;
    height: 1195px;
    width: 230px;
    z-index: 20;
    margin-top: -200px;
  }
  
  .change-container {
    width: 95px;
  }
  
  .header-container-logo {
    margin-top: 120px;
}
  
  .header-container-text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  
  .hide-svg {
    display: block;
  }
  .header-logo {
    padding: 0px 250px 0px 0px;
    margin-top: 10px;
}

  .header-block-menu {
    display: none;
  }
  
  .header-menu-brand {
    height: 48px;
    width: 48px;
  }
  
  .option-check {
    margin-top: 33px;
  }
  
  .option-check-img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
  }
  
  .option-check-text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  
  .options-navigate {
    padding: 0 20px;
  }
  
  .pad {
    margin-top: 50px;
    padding: 0  30px;
  }
  
  .option-wrappers-descr {
    display: flex;
    align-items: center;
  }
  
  .option-wrappers-items {
    width: 190px;
    height: 144px;
    background-color: #F0F0F0;
    border-radius: 8px;
  }
  
  .small {
    margin-top: 20px;
    width: 78.48px;
    margin-left: -20px;
  }
  
  .items {
    font-weight: 400;
    font-size: 14px;
    color: $grey;
  
    &:first-child {
      background: $grey;
      color: #434343;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  
  .items-text {
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    text-align: center;
  }
  
  .items-svg {
    margin-left: 30%;
    margin: 10px 0 10px 30%;
  }
  
  .hide-svg {
    display: none;
  }
  
  .option-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .option-text {
    font-weight: 900;
    font-size: 18px;
    color: $grey;
    margin-left: 10px;
  }
  
  .back {
    margin-left: 55%;
  }
  
  .back-change {
    margin-left: 40%;
  }
  
  .back-container {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 1.5%;
  }
  
  #back-button:hover {
    transition: all 0.3s ease;
    stroke: $melon;
    fill: none;
  }
  
  .back-text {
    font-size: 18px;
    text-align: center;
    width: 150px;
    margin-left: 15%;
  }
  
  .header-block {
    z-index: 10;
    height: 96px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, $milk 0%, rgba(250, 250, 250, 0.1) 100%);
    backdrop-filter: blur(16px);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
  }
    
  .header-text {
    margin-left: 20%;
    border-left: 2px solid $black;
    padding-left: 30px;
  }
  
  .header-img {
    margin-left: 35%;
}
  
  .check-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
    margin: 180px 23.5% 40px 23.5%;
  }
  
  .check-containers__item {
    background-color: $white;
    border-radius: 16px;
    width: 410px;
    margin-top: 20px;
  }
  .check-containers-left {
    margin: 90px 2% 40px 12.5%;
}
  .check-containers__item--business {
    height: 562px;
  }
  
  .check-containers__item--digital {
    margin-top: -185px;
  }
  
  .check-containers__item--brand {
    height: 374px;
  }
  
  .check-containers__item--tv {
    margin-top: 1px;
  }
  
  .check-wrapp {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -15%;
  }
  
  .hide {
    margin: 0 auto;
    display: block;
}
  
  .hide:hover {
    background: none;
  }
  
  .check-text {
    color: $black;
    margin-left: 15px;
  }
  
  .check-contents {
    position: relative;
    margin-left: 13%;
    margin-top: 15%;
  }
  
  .check-contents__item {
    display: flex;
    align-items: center;
  }
  
  .check-contents__img {
    width: 64px;
    height: 64px;
    line-height: 60px;
    margin-bottom: 20px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid $melon;
    filter: drop-shadow(0px 0px 4px #7BFB4C);
  
    img {
      vertical-align: middle;
    }
  }
  
  .check-contents__wrapper {
    margin-left: 25px;
    margin-top: -10%;
  }
  
  .check-contents__descr {
    font-size: 12px;
    font-weight: 400;
  }
  
  .check-contents__text {
    font-weight: 900;
    font-size: 18px;
    color: $melon;
  
    &:hover {
      transition: all 0.3s ease;
      color: $dark-grey;
    }
  }
  
  .active-text {
    display: block;
  }
  
  .disable-text {
    display: none;
  }
  
  #active {
    color: $black;
  }
  .active, .block-menu {
    display: block;
  }
  
  .btn-menu {
    z-index: 100;
  }

  .header-logo-right {
    padding: 0px 110px 0px 0px;
}
.check-containers-left {
    margin: 90px 2% 40px 12.5%;
}

